.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    width: 32%;
    display: grid;
    min-height: 7dvh;
    grid-template-rows: auto 1fr auto ;
    margin-top: 20px;
}

.product-image img {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    justify-items: center;
}

.product-title {
    font-size: 1.2rem;
    margin: 8px 0;
    font-weight: 600;
}

.product-price {
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5px 0;
}

.platform-name {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
}

.buy-link {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-link:hover {
    background-color: #555;
}
.product-plat{
    align-items:start;
    font-weight: bold;
}

